/* background-colors */
.dark-color-scheme .general-background-color {
  background-color: var(--dark-primary-background-color);
}

.dark-color-scheme nav.navbar {
  background-color: var(--dark-primary-background-color);
}

.dark-color-scheme nav.navbar li.nav-item > a.nav-link {
  color: var(--dark-color);
}

.dark-color-scheme .primary-section {
  color: var(--dark-color);
}

.dark-color-scheme .secondary-section {
  color: white;
}
button.more-projects-button{
  background-color: var(--primary-color);
  margin-top: 2rem;
}
button.more-projects-button:hover{
  background-color: var(--secondary-color);
  color: var(--dark-color);
}
section span.badge {
  background-color: var(--primary-color);
}

.dark-color-scheme .presentation-container {
  background-color: var(--dark-background-color-presentation);
  color: var(--dark-color);

  background-image: linear-gradient(to bottom, #000000, #040404, #080807, #0c0c0b, #0F0F0E);
}

.dark-color-scheme .sobre-mi {
  background-image: linear-gradient(to top, #000000, #040404, #080807, #0c0c0b, #0F0F0E);
}

.dark-color-scheme .experiencia {
background-image: linear-gradient(to bottom, #000000, #0e0005, #17000c, #1c0014, #1f001b);
}

.dark-color-scheme .recent-projects-section{
background-image: linear-gradient(to top, #000000, #0e0005, #17000c, #1c0014, #1f001b);
}

.dark-color-scheme #profile-photo {
  filter: drop-shadow(2px 2px 5px var(--primary-color));
}
/* end background-colors */

/* When the user has changed the language, trigger an animation. */
body.language-has-changed {
  animation: body-language-has-changed-animation 0.5s ease-in-out;
}


/* Navigation bar */
nav.navbar {
  padding: 2rem;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* General styles */

/* presetation section */
.presentation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: "Rubik Dirt", cursive;
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

/* Seccion Hero */

.hero {
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

#profile-photo {
  filter: drop-shadow(10px 10px 15px black);
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: var(--dark-color);
}

/* Sobre mi */

.sobre-mi {
  height: 500px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Experiencia */

.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
}

.experiencia i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/* Proyectos */

.projects-container {
  padding: 0;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1/4fr));
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 32px;
}

project-component {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recent-projects-section {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.recent-projects-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  margin: 1rem;
  padding: 10px;
  border-radius: 2rem;
  display: block;
  transition: all 0.2s ease;
}

.proyecto .project-tags-container {
  width: 18rem;
  margin-top: 5px;
  margin-bottom: 5px;

  white-space: wrap;
  transform: translateX(1.1rem);
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

/* Testimonios */

.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Footer */

footer {
  min-height: 500px;
}

.footer-logo {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: "Quicksand", sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}
/* stack section */

.stack-icons-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#stack-columna:hover {
  .stack-img {
    animation: stack-animation 3s infinite alternate;
  }
}

.animated-text {
  white-space: nowrap;
  visibility: hidden;
  animation: sub-presentation-animation 1.5s ease-in-out forwards;
}

#litle-presentation {
  visibility: hidden;
  animation: sub-presentation-animation 1.5s ease-in-out 1s forwards;

  font-size: 1rem;
}
@keyframes sub-presentation-animation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes body-language-has-changed-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes stack-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
/* end stack section */

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
  project-component {
    transform: scale(0.5);
  }
  #presentation.title-font {
    font-size: 2rem;
  }
  span#litle-presentation {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  #presentation.title-font {
    font-size: 1.5rem;
  }
  span#litle-presentation {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}
